.modal-btn{
    padding: 12px 25px;
    background-color: #837e91;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    margin: 20px;
}

.containers{
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.modal-vasible{
display: flex;
align-items: center;
justify-content: center;

}
.contain{
    background-color: white;
    width: 60%;
    height: 300px;
    padding: 20px;
}
.close-btn{
    padding: 8px 22px;
   color: white;
    border-radius: 5px;
    background-color: brown;
    text-transform: uppercase;

}